<div class="card text-center m-3">
  <div class="card-header m-3">
    Track Your Purchases
  </div>
  <div class="card-body">
    <h5 class="card-title">Welcome To Jamil's Logistics</h5>
    <div class="card-body justify-content-center">
      <%= search_form_for(@query, url: search_path, method: :get, class:'d-flex justify-content-center') do |f| %>
        <div class="card-text">
        <div>
      <%=f.search_field :uniq_id_eq, placeholder: "Enter Tracking ID All in Upercase"%>
      <%= f.submit class: "btn bg-success m-1" %>
      </div>
      </div>
    </div>
<% end %>
  </div>
</div>
