<h1>Editing customer</h1>

<%= render "form", customer: @customer %>

<br>

<div>
  <%= link_to "Show this customer", @customer, class: "btn bg-info" %> |
  <%= link_to "Back to customers", customers_path, class: "btn bg-success" %>
</div>
