<div class="m-3 card p-3 border border-primary">
<% if current_user && current_user.user_admin %> 
<h1>New customer</h1>

<%= render "form", customer: @customer %>

<br>

<div>
  <%= link_to "Back to customers", customers_path, class: "btn bg-success" %>
</div>

<% end %>
</div>