<% if current_user && current_user.user_admin %> 
<div id="<%= dom_id movement %>">
  <p>
    <strong>Detail:</strong>
    <%= movement.detail %>
  </p>

  <p>
    <strong>Tracking time:</strong>
    <%= movement.tracking_time %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= movement.customer_id %>
  </p>

</div>

<% end %>
