<p style="color: green"><%= notice %></p>

<h1>Movements</h1>

<div id="movements">
  <% @movements.each do |movement| %>
    <%= render movement %>
    <p>
      <%= link_to "Show this movement index", movement_path(movement) %>
    </p>
  <% end %>
</div>

<%= link_to "New movement", new_customer_movement_path %>
