<h1>New movement</h1>

<%= render "form", movement: @movement %>

<br>

<div>
  <%= link_to "Back to movements", customer_movements_path(customer_id: @customer.id), class: "btn bg-success m-1" %>
</div>
